*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 10px;
    border: 1px solid #ccc;
}
#header{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 255, 0.767);
    color: white;
    text-align: center;
    /* para centrar el texto en altura  */
    line-height: 90px;
}

.clearfix{
    float: none;
    clear: both;
}
#menu{
    background-color: #eeeeee;
}
#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    
    border-right: 1px solid #ccc;
}
#menu ul li a{
    color:#444;
    padding: 15px;
    display: block;
}
#menu ul li:hover{
    background-color: blue;
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;

}
#contenido{
    width: 69%;
    border: 1px solid green;
    float: left;
}
#lateral{
    width: 30%;
    border: 1px solid red;
    float: left;
    min-height: 500px;
    text-align: center;
}
#contenido > h1{
    text-align: center;
    border-bottom:  1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray;
}
#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.sombra-interior{
    box-shadow: 5px 5px 10px gray inset !important;
}
footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #eee;
}